{
        font-family: 'Roboto', sans-serif;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        text-transform: capitalize;
        transition: all 0.3s ease;
    }

    .circle {
        position: absolute;
        top: 0;
        right: 2rem;
        width: 100%;
        height: 100%;
        background: cadetblue;
        clip-path: circle(650px at right);
        z-index: -1;
    }

    .btn {
        display: inline-block;
        font-size: 1.4rem;
        color: white;
        padding: .6rem 1.3rem;
        background: blue;
        border: none;
        outline: none;
        text-decoration: none;
        margin-top: 1.7rem;
        transition: 0.3rem ease;
    }

    .btn:hover {
        border: 1px solid blue;
        background: transparent;
        color: blue;]
    }

    .header {
        padding: 1rem 5%;
        background: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header .logo {
        color: cadetblue;
        font-size: 2rem;
        text-decoration: none;
        font-weight: 600;
    }

    .header .logo i {
        color: brown;
        margin-right: .4rem;
    }

    .header .navbar a {
        font-size: 1.1rem;
        font-weight: 600;
        color: black;
        margin-left: 1.4rem;
        text-decoration: none;
        
    }
    .header .navbar a:hover{
        color: aqua;
    }

    .home {
        padding: 1rem 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 85vh;
    }

    .home .content h2 {
        font-size: 2.5rem;
        color: brown;
        padding-bottom: 1rem;
    }

    .home .content p {
        font-size: 1rem;
        color: rgb(68, 155, 159);
        padding-bottom: 1rem;
    }

    .home .image,
    .home .image img {
        width: 95%;
    }

    .icons {
        position: absolute;
        left: 3.2rem;
        bottom: .2rem;
        display: flex;
    }

    .icons li {
        margin-left: .7rem;
        list-style: none;
        cursor: pointer;
        width: 3rem;
        height: 3rem;
        line-height: 3rem;
        text-align: center;
        border-radius: 50%;
        background: var(--clr);
    }

    .icons li:hover {
        transform: translateY(-10px);
    }

    .icons li a {
        color: white;
        font-size: 1.4rem;
        text-decoration: none;
    }